.root {
    -fx-background-image: url("/resources/images/menuBG.jpg");
    -fx-background-size: 500px 300px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button{
    /*-fx-background-image: url('/resources/images/button.png');*/
    -fx-background-size: 1000px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}