#pane {
    -fx-background-image: url("/resources/images/BackgroundMain.jpg");
    -fx-background-size: 1500px 900px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#buttonHome{
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 180px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btPlay {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btDraw {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}