.root {
    -fx-background-image: url("/resources/images/firstTheme.jpg");
    -fx-background-size: 600px 400px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#backButton {
    -fx-background-color: blue;
    -fx-text-fill: white;
}

#titleLeader{
    -fx-background-image: url("/resources/images/firstTheme.jpg");
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5),0,0,0,1);
}

#title #leaderBoard1{
    -fx-background-image: url("/resources/images/firstTheme.jpg");
}

#leaderLabel{
    -fx-background-color: red;
    -fx-text-fill: #333333;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5),0,0,0,1);
}

