#root {
    -fx-background-image: url("/resources/images/firstTheme.jpg");
    -fx-background-size: 600px 400px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#txtName {
    -fx-font-size: 10px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#name {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#password {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#passwordField {
    -fx-font-size: 10px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#btSignIn {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 230px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btSignUp {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 230px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#startButton {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 155px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#leaderBoard {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 155px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#instructions {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 155px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#settings {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 155px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#quit {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 155px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#backButton2 {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#buttonLanguage {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-image-width: 200px;
}

#buttonTheme {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-image-width: 200px;
}

#buttonVolume {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-image-width: 200px;
}

#backButton1{
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#backButton {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#backButton3 {
    -fx-background-image: url('/resources/images/button.png');
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/*#wordWelcome {*/
/*    fx*/
/*}*/