#mainPane {
    -fx-background-image: url("/images/bgThemeDawn.jpg");
    -fx-background-size: 800px 800px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button{
    -fx-background-image: url('/imageCss/button.png');
    -fx-background-size: 270px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    /*-fx-background-color:*/
    /*        #3c7fb1,*/
    /*        linear-gradient(#fafdfe, #e8f5fc),*/
    /*        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);*/
    /*-fx-background-insets: 0,1,2;*/
    /*-fx-background-radius: 3,2,1;*/
    /*-fx-padding: 3 30 3 30;*/
    /*-fx-text-fill: black;*/
    /*-fx-font-size: 14px;*/
}
#buttonStart{
    -fx-background-image: url('/imageCss/button.png');
    -fx-background-size: 270px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#buttonNewGame{
    -fx-background-image: url('/imageCss/button.png');
    -fx-background-size: 270px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#buttonSettings {
    -fx-background-image: url('/imageCss/button.png');
    -fx-background-size: 270px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#buttonInfo {
    -fx-background-image: url('/imageCss/button.png');
    -fx-background-size: 155px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnLeaderBoard{
    -fx-background-image: url('/imageCss/button.png');
    -fx-background-size: 270px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#backButton1 {
    -fx-background-image: url('/imageCss/button.png');
    -fx-background-size: 270px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}