#btSetName{
    -fx-background-image: url('/imageCss/button.png');
    -fx-background-size: 270px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#labelSetName {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Black";
    -fx-background-color: #ffd438;
    -fx-progress-color: #ff4650;
    -fx-fill: #3da25b;
}