

#settingBoard {
    -fx-background-image: url("/resources/images/firstTheme.jpg");
    -fx-background-size: 600px 500px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#volume {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#language {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnTheme {
    -fx-background-image: url("/resources/images/button.png");

}

#btnLanguage {
    -fx-background-image: url("/resources/images/button.png");
}

#btnVolume{
    -fx-background-image: url("/resources/images/button.png");
}

#theme:pressed{
    -fx-background-image: url("/resources/images/backgroundMenu.jpg");
}