.root {
    -fx-background-image: url("/resources/images/menuBG.jpg");
    -fx-background-size: 700px 600px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button{
    -fx-background-image: url('/imageCss/button.png');
    -fx-background-size: 155px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}